<mat-toolbar>
    <button mat-icon-button class="example-icon" >
      <h3>QuizletXYZ</h3>
    </button>
    
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      
    </button>
    <button mat-icon-button class="example-icon" (click)="run()" >
      <span>Run The Game</span>
    </button>
    <button mat-icon-button class="example-icon" (click)="create()">
        <span>Create a Question</span>
      </button>
      <button mat-icon-button class="example-icon" (click)="check()">
        <span>check All Questions</span>
      </button>
  </mat-toolbar>