<app-navbar></app-navbar>
<div class="container"  >
    <h1>Quiz</h1>
    <div class="my-form-control">
        <label for="username">Username</label>
        <input
          type="text"
          name="username"
          id="day"
          [(ngModel)]="username"

        />
    </div>
    
    <div class="my-form-control">
        <label for="day">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          [(ngModel)]="pass"
        />
    </div>
    <div class="btncontainer app-button d-flex justify-content-center" >
      <app-button (click)="checklogin()" [btnName]="btnName"></app-button>
  </div>


</div>
