<div class="container"> 
    <h1>Quiz</h1>
    <div class="forms-container " style="margin-top: 20%;">
        <div class="input-group mb-3">
            <div class="input-group-prepend ">
              <span class="input-group-text" id="basic-addon1">Question</span>
            </div>
            <textarea type="text" class="form-control" placeholder="question" aria-label="Question" aria-describedby="basic-addon1"></textarea>
          </div>
          <div class="input-group mb-3 ">
            <div class="input-group-prepend" >
              <span class="input-group-text " id="basic-addon1">Desired Answer</span>
            </div>
            <input type="text" class="form-control" placeholder="answer" aria-label="Desired Answer" aria-describedby="basic-addon1" >
          </div>
    </div>
   
    <app-button [btnName]="btnName" mt-2></app-button>
   
 
</div>
