<div class="container">

<div class="header">
    <button class="text-justify" mat-button [matMenuTriggerFor]="menu">{{display}}<mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu" class="icon" >
    <button class="text-justify"   (click)=dynamicnumber(1) mat-menu-item class="btn">1</button>
    <button class="text-justify"  (click)=dynamicnumber(2) mat-menu-item class="btn">2</button>
    <button class="text-justify" (click)=dynamicnumber(3) mat-menu-item class="btn">3</button>
    </mat-menu>


    <div class="icon">
        <button class="btnicon" (click)="getRandom()"><mat-icon >refresh</mat-icon></button>
    </div>

</div>


<div class="my-form-control" >
    <label for="quesiton">Question</label>
    <div 
        type="text"
        name="question"
        id="question"
        disabled="true">{{random}}
    </div>
    
    </div>


    <div class="my-form-control ">
        <label for="answer">Answer</label>
        <div
        type="text"
        name="answer"
        id="answer"
        disabled="true"
        *ngFor="let answers of answers, index as i"
        (click)="userCLick(i)"
        >{{answers}}
    </div>
    </div>

    <app-button class="app-button d-flex justify-content-center mt-2"[btnName]="btncreate"  (click)="createQuestion()"></app-button>

</div>
