@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
}

.container {
  max-width: 400px;
  margin: 30px auto;
  overflow: auto;
  height: 520px;
  border: 4px solid rgb(183, 182, 182);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px;
  border-radius: 5px;
}
.my-form-control{
  margin: 20px 0px;
}
.my-form-control label
{
  display: block;
}
.my-form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  
}
.btn
{
  height: 30px;
  width: 40%;
  border: 1px solid black;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}


